* {
  box-sizing: border-box;
}
.App {
  background-color: rgb(7, 23, 59);
  min-height: 100vh;
  color: white;
  font-family: monospace;
}

.App-Page {
  padding: 6vmin 12vmin 48vmin;
  text-align: left;
}
.App-Page h1 {
  margin-bottom: 8vmin;
}

.App-Page:nth-child(even) {
  background-color: rgb(18, 36, 78);
}
